:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-color-primary: 31 221 254;
  --oui-color-primary-light: 105 235 255;
  --oui-color-primary-darken: 8 180 210;
  --oui-color-primary-contrast: 0 0 0;
  --oui-color-link: 244 183 62;
  --oui-color-link-light: 251 191 36;
  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 176 196 214;
  --oui-color-quaternary: 120 148 172;
  --oui-color-danger: 246 70 93;
  --oui-color-danger-light: 251 113 133;
  --oui-color-danger-darken: 220 38 62;
  --oui-color-danger-contrast: 255 255 255;
  --oui-color-success: 16 185 129;
  --oui-color-success-light: 52 211 153;
  --oui-color-success-darken: 5 150 105;
  --oui-color-success-contrast: 0 0 0;
  --oui-color-warning: 244 183 62;
  --oui-color-warning-light: 251 191 36;
  --oui-color-warning-darken: 217 119 6;
  --oui-color-warning-contrast: 0 0 0;
  --oui-color-fill: 11 32 56;
  --oui-color-fill-active: 16 42 70;
  --oui-color-base-1: 196 208 220;
  --oui-color-base-2: 140 156 176;
  --oui-color-base-3: 70 88 110;
  --oui-color-base-4: 32 56 86;
  --oui-color-base-5: 18 44 72;
  --oui-color-base-6: 14 38 64;
  --oui-color-base-7: 11 32 56;
  --oui-color-base-8: 10 22 40;
  --oui-color-base-9: 10 16 28;
  --oui-color-base-10: 11 11 16;
  --oui-color-base-foreground: 245 248 252;
  --oui-color-line: 255 255 255;
  --oui-color-base-static: 255 255 255;
  --oui-color-base-static-contrast: 0 0 0;
  --oui-color-trading-loss: 246 70 93;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 16 185 129;
  --oui-color-trading-profit-contrast: 0 0 0;
  --oui-gradient-primary-start: 8 180 210;
  --oui-gradient-primary-end: 31 221 254;
  --oui-gradient-secondary-start: 8 180 210;
  --oui-gradient-secondary-end: 31 221 254;
  --oui-gradient-success-start: 5 150 105;
  --oui-gradient-success-end: 16 185 129;
  --oui-gradient-danger-start: 153 24 48;
  --oui-gradient-danger-end: 246 70 93;
  --oui-gradient-brand-start: 244 183 62;
  --oui-gradient-brand-end: 31 221 254;
  --oui-gradient-brand-stop-start: 0%;
  --oui-gradient-brand-stop-end: 100%;
  --oui-gradient-brand-angle: 135deg;
  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 244 183 62;
  --oui-gradient-neutral-start: 11 47 83;
  --oui-gradient-neutral-end: 10 22 40;
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 8px;
  --oui-rounded-2xl: 8px;
  --oui-rounded-full: 9999px;
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}